h4{  
   color: black;
   background-color: silver;
}
h1{
     color: greenyellow;
}
.Life-lesson1{
     background-color: crimson;
}
h5{
     color: darkred;
     background-color: silver;
}
.border{
     border: 5px dotted blue;
}
#head1{
     font-size: 50px;

}